[2020-09-19 16:04] FFY00 opened #11 "Synchronize folder as the bucket root"
### TL;DR

Uploading a folder like this, will upload to `bucket-name/folder`. I want to synchronize the bucket root, `/path/to/folder` would be the root of my bucket. `/path/to/folder/a` would be `bucket-name/a`, not `bucket-name/folder/a`.
[code]

### Design

**Action YAML**

I propose introducing a `root` input.
[code]

[2020-10-24 13:17] shwuhk opened #10 "Error occured when using upload-cloud-storage"
- name: Upload to Google Cloud Storage
        uses: GoogleCloudPlatform/github-actions/upload-cloud-storage@master
        with:
          credentials: ${{ secrets.GCS_CREDENTIALS }}
          path: build
          destination: ${{ env.UPLOAD_PATH_NAME }}

Error: A resumable upload could not be performed. The directory, /root/.config, is not writable. You may try another upload, this time setting

[2020-11-12 15:30] Ameausoone opened #4 "Two-way transfer"
### TL;DR
This is an action to upload files to cloud storage => couldn't it be a two-way action ?

### Design

**Action YAML**
It could be a generic `source` => `destination` action.

[code]

**Resources**
N/A

**Additional information**
N/A

[2020-11-14 01:02] bharathkkb commented on #4
Hi @Ameausoone
Thanks for the feedback. It makes sense to me, I will investigate the feasibility for this.

[2020-12-07 05:23] sam-jg commented on #11
Is there any work around for this or any update @averikitsch?

[2020-12-07 16:28] bharathkkb commented on #11
@sam-jg Thanks for your interest! I'll take a look

[2020-12-07 16:32] bharathkkb commented on #10
Hi @shwuhk, thanks for the report!

It may make sense to expose this? How big are the files you are trying to upload? Does a path like `/root/.config` exist?

[2020-12-07 23:02] sam-jg commented on #11
Work around for anyone else that finds this and is hosting some kind of static site. You can set the main page of the bucket to something else by changing the `MainPageSuffix`

Essentially means you can change the entry point from `bucket-name/index.html` to `bucket-name/some-path/some-file`. For most static sites you would likely want to set it to `public/index.html`

https://cloud.google.com/sto

[2020-12-11 09:34] shwuhk commented on #10
@bharathkkb
Several MBs file. `/root/.config` does not exist as this is an empheral machine.

[2020-12-15 01:05] bharathkkb opened #12 "release-please job failing"
### TL;DR
Release-please action is failing. Seems related to  https://github.com/google-github-actions/release-please-action/issues/164. Workaround will be to pin to previous version

**Expected behavior**

**Observed behavior**

### Reproduction

**Action YAML**

[code]

**Repository**

**Additional information**

[2020-12-22 00:06] bcoe commented on #12
@bharathkkb I believe I have fixed this.

[2020-12-22 02:45] bharathkkb commented on #12
just saw :) Thanks for the quick fix @bcoe

[2020-12-22 02:45] #12 closed

[2021-01-13 19:26] GuessWhoSamFoo opened #13 "Relative path does not find any files"
### TL;DR

**Expected behavior**
The root path should be the same as the checkout path (at least intuitively). Instead the file is not found when uploading. Perhaps a more helpful error message would be printing the full path of the attempted upload.

**Observed behavior**
File not found error.

### Reproduction

**Action YAML**
[code]

**Repository**
https://github.com/GuessWhoSamFoo/gcs-push-tes

[2021-02-01 23:43] omrihq opened #14 "Setting gzip to false"
### TL;DR
Uploading to GCS using upload-cloud-storage actions passes `gzip: true` as a default, can this be an option?

### Design

**Action YAML**
In this line, the default is set to `gzip: true`, I'd like to be able to set this.
https://github.com/google-github-actions/upload-cloud-storage/blob/3d447c22006c4a60e679e1e4bd435062c5c7a995/src/upload-helper.ts#L55

[code]

[2021-02-02 00:34] omrihq commented on #14
Put up a PR here: https://github.com/google-github-actions/upload-cloud-storage/pull/15

[2021-02-04 19:22] omrihq commented on #14
PR merged, closing.

[2021-02-04 19:22] #14 closed

[2021-02-04 20:38] omrihq opened #18 "gzip doesn't work as a parameter at all"
### TL;DR
When passing gzip as a parameter in UploadOptions to Storage

**Expected behavior**
I expected the content-encoding not to be gzipped

**Observed behavior**
![Screen Shot 2021-02-04 at 12 29 12 PM](https://user-images.githubusercontent.com/6285455/106952123-87fd4b00-66e5-11eb-942f-92c9083bf910.png)

### Reproduction

I published a forked version of this with `gzip` hardcoded to false. ht

[2021-02-04 20:50] averikitsch commented on #18
@omrihq Did you rebuild the `dist/index.js` file for your test? I just merged the updated `dist/index.js` from your PR. We have a process to automatically generate this. Can you target your workflow at `upload-cloud-storage@main` to test?

[2021-02-04 20:52] omrihq commented on #18
@averikitsch I did not build `dest/index.js`, how should I rebuild that? trying again with `google-github-actions/upload-cloud-storage@main`

[2021-02-04 21:01] omrihq commented on #18
Hey @averikitsch, I just confirmed that it works. Thanks for bearing with me. Closing this issue!

[2021-02-04 21:01] #18 closed

[2021-02-04 21:10] bharathkkb opened #19 "Add gzip integration test"
Add gzip integration test for #15

[2021-02-07 17:21] jordanpotter opened #20 "Allow filtering files"
### TL;DR
Allow filtering files by specifying a glob pattern. This would be useful for static websites that generate files during their build phase that aren't meant for public consumption, such as source maps.

### Design

**Action YAML**
The user could specify a glob pattern. Only files that match that glob pattern are uploaded.

[code]

**Resources**
N/A

**Additional information**
N/A

[2021-03-06 19:27] jswetzen opened #22 "Set headers for uploaded files"
### TL;DR
I'm using this command line at the moment:
```gsutil -h "Content-Type:text/xml" -h "Cache-Control:public, max-age=600" cp file.ext gs://bucket-name```
I would like to use this action but don't see how I can without the ability to set headers. Enabling headers would be nice.

### Design

**Action YAML**

[code]

[2021-03-08 08:57] rascontextual opened #23 "Improve documentation about folders uploading"
### TL;DR

I need to upload a folder with some DAGS (python3 scripts), I am able to use relative paths, or absolute paths, but what is default path? In the following example:
[code]
The default path start  on README.md level, or in .github/workflows level?
### Design

**Action YAML**

[code]

[2021-03-08 11:06] rascontextual commented on #13
I have the same issues, did you solve it? I filled an issue about paths's documentation, check #23 .

Maybe using gcp shell instead the specific task?

[2021-03-13 13:17] tobbbles commented on #11
It's a shame this isn't fixed, to me this action is completely unusable without being able to specify this, the best workaround right now is this for me :disappointed:

[code]

[2021-04-05 11:44] levonet opened #24 "Failed by timeout on a large number of files"
We use this action to upload reports after building projects.
Upload fails in one of the big projects. After 8 minutes, an error occurs:
[code]

Characteristics of the directory for uploading:
[code]
For other smaller projects, this action works perfectly.

If I setup `google-github-actions/setup-gcloud` and run `gsutil -mq cp -r <path> <destination>` then the uploading is successful within 2 minu

[2021-05-09 19:05] carlodevil commented on #11
Any news here? Would really love this functionality.

[2021-05-20 18:29] AaronMT opened #30 "Getting artifact upload public URL in steps after upload"
Hello,

In a GitHub Actions job, after ```google-github-actions/upload-cloud-storage@main``` step, I would like to get the public URL of the uploaded artifact from the previous step.

The idea is a job using the following steps as an example:

* Build a binary
* Upload binary as an artifact
* Fire off a Slack message with a public URL of said binary

How would you get the public URL of the artifac

[2021-06-02 12:33] aglasson commented on #11
I ended up here because I noticed this is the exact same behaviour as for the `New-GcsObject` Powershell Cmdlet with `-Folder` parameter. Which has been annoying me.

Just adding my 2c here from my observations on the core reason this functionality is the way it is and how I intend to solve the problem which might provide insight when someone goes to implement/solve this.

Reviewing the documentat

[2021-06-08 14:10] sethvargo commented on #10
From https://github.com/googleapis/nodejs-storage/issues/807, it looks like gsutil expects `configPath` to be set to a writable path. I think it should be set to something in /tmp or /home/github.

[2021-06-09 13:59] leoniloris opened #35 "10 mb limit uploads"
### Question
Is there a 10 megabytes limit for uploads?
I used this action and I could see my files being cropped to 10mb

[2021-06-09 14:06] #35 closed

[2021-06-11 14:24] kruncher opened #40 "What happens if a directory already exists when copying a directory?"
### Question

If a GitHub action copies a build directory into a bucket using this action; what happens if a directory with the same name already exists in the target bucket?

Does it get replaced, merged, or does it simply fail?

[2021-06-12 16:12] jakub-bacic commented on #22
Unfortunately, GH actions does not support complex values as action inputs, so in order to pass a list we need to be a little bit more creative. I think the most common approach is to use YAML multiline strings:
[code]

I've opened PR that adds support for it.

[2021-06-30 00:42] bharathkkb commented on #40
@kruncher The action deals with files in directory individually. If the target bucket has `foo/bar.txt` and you try to upload to `foo/bar.txt`, it will be replaced. If you try to upload `foo/baz.txt`, the bucket will now contain `foo/bar.txt` and `foo/baz.txt`. Hope that answers the question.

[2021-06-30 00:42] #40 closed

[2021-06-30 22:42] eivim opened #56 "Parent does not omit path"
### TL;DR

`parent: false` does not behave as expected.

**Expected behavior**

Only contents of directory specified in `path` is copied to GCS destination.

**Observed behavior**

Parent directory is included, whether `parent` is set to `true` or `false`.

### Reproduction

**Working directory**

[code]

**Action YAML**

[code]

[2021-06-30 23:35] bharathkkb commented on #56
Hi @eivim
We have not merged the new distributable with this feature yet
https://github.com/google-github-actions/upload-cloud-storage/pull/37

[2021-07-01 00:51] bharathkkb commented on #56
@eivim should be fixed now, feel free to reopen if still happening.

[2021-07-01 00:51] #56 closed

[2021-07-01 00:52] bharathkkb commented on #20
@jordanpotter we have added support for this. Let us know if you have any feedback
Docs: https://github.com/google-github-actions/upload-cloud-storage#glob-pattern

[2021-07-01 00:53] bharathkkb commented on #19
added via https://github.com/google-github-actions/upload-cloud-storage/pull/33

[2021-07-01 00:53] #19 closed

[2021-07-01 00:57] bharathkkb commented on #13
@GuessWhoSamFoo Could you check if this is still happening with the latest version on main. I have added some additional debug output that could be helpful in debugging.

[2021-07-01 01:01] bharathkkb commented on #23
Hi @rascontextual
By default you will be in `GITHUB_WORKSPACE`. If you are using `actions/checkout` this will have the repo checked out. In your sample workflow I do not see `actions/checkout` so this means you are not cloning your repo and hence `GITHUB_WORKSPACE` will be empty. If you add checkout, then you can upload `tarea1` like
[code]

[2021-07-01 01:08] bharathkkb commented on #24
Hi @levonet
We recently added a few features on main that may help.  Previously we were not limiting concurrency and for 3k files, this would mean potentially 3k requests in flight.

Now we set default `concurrency` to `10` and you can also control it if needed. Uploads are also resumable by default which should help.  Let us know if these help or if this issue still happens.

[2021-07-01 01:12] bharathkkb commented on #11
@FFY00 @sam-jg @tobbbles @aglasson
Apologies for the long delay. I have added a `parent` flag which should let you control this now. Also added some docs on potential scenarios here https://github.com/google-github-actions/upload-cloud-storage#upload-to-bucket-root

With `parent:false` and `path:/path/to/folder`, `/path/to/folder/a` should now be uploaded to `bucket-name/a`
[code]

It would be awe

[2021-07-04 08:02] levonet commented on #24
Thank you very much for the correction, we will try to check soon.

[2021-07-12 09:28] mrskug commented on #23
As a small FYI this changed the default behavior for upload paths as this now uploads to the full path specified and not just the last folder.

Previously this:
[code]

would have uploaded just the folder `foo` as `gs://bucket-name/foo`
but as of this change it now defaults to uploading to `gs://bucket-name/myfolder/foo`

This caused some confusion to say the least...

[2021-07-12 12:51] jvelezos commented on #23
Same here, this change caused a problem in my project, since now the path is used both for input and for output.

[2021-07-13 17:10] Michael-S-Hammond opened #63 "Want to replace all files in a folder rather than merge."
### TL;DR
When I upload a new version of my website, I want to remove all existing files and replace with my new ones. The current design merges my new files into the existing contents which leaves unneeded (and likely deprecated) files behind.

### Design

**Action YAML**
[code]

In the above, I would expect the contents of the entire bucket to be deleted. If **parent** is true, then I would expe

[2021-07-14 15:42] gonz01d commented on #11
@bharathkkb
I'm trying to use the latest version (`google-github-actions/upload-cloud-storage@main`) and make use of the `parent: false` flag to do a root copy but what I'm finding is the last folder in the path is still being used in the destination copied path:

e.g.
[code]

Using your example path ` /path/to/folder` - my files are being copied as `bucket-name/folder/blah.txt` whereas I'm expect

[2021-07-14 18:57] bharathkkb commented on #11
Hi @gonz01d
Thanks for the report! Logs would be helpful and if your repo is public I can take a look at that too.

I tried a quick check in https://github.com/bharathkkb/test-upload-gcs-action
where I have a dir like `nested/in/here/hello.txt` and action configured as
[code]
This seems to upload it as expected to `gs://$BUCKET/hello.txt`

[2021-07-15 09:52] gonz01d commented on #11
@bharathkkb
Unfortunately it's a private repo but I can pass on some logs :

[code]

[2021-07-17 15:30] jakub-bacic commented on #30
That should do the trick:

[code]

[2021-08-09 16:57] bharathkkb commented on #10
fixed by https://github.com/google-github-actions/upload-cloud-storage/pull/34

[2021-08-09 16:57] #10 closed

[2021-08-11 23:49] landsman opened #102 "Upload folder with dot in name on start"
Hi guys,

I am uploading whole folder which contains folder: `.next`.
On Cloud Bucket this folder missing. I tried process 3x times, same result.

Is it bug or can I do some configuration to allow these hidden dot folders?

<img width="883" alt="Screenshot 2021-08-12 at 1 47 30" src="https://user-images.githubusercontent.com/3184228/129117786-e46f3771-fb5c-4beb-9e2e-ba9c864adda1.png">

<img width=

[2021-08-12 00:10] bharathkkb commented on #102
Hi @landsman
We currently don't match dot files/folders. However we can add an option [here](https://github.com/google-github-actions/upload-cloud-storage/blob/73e61575aff029a3b7ee37ce9e4b1a0cb7113963/src/upload-helper.ts#L126) passing `dot: true`.
https://github.com/mrmlnc/fast-glob#dot

Another workaround if you don't have additional dot files in `.next` could be to
[code]

[2021-08-12 00:15] landsman commented on #102
@bharathkkb Thank you for fast reply! Add option would be the best I think.
In this folder which I want to upload are multiple sub-folders.

Current workaround which I dit is raw usage of `gsutil`.
[code]

[2021-08-12 16:15] gonz01d commented on #11
@bharathkkb Is there anything else you need from me? Be great to get this resolved if possible or understand what I may be doing wrong

[2021-08-18 02:22] bharathkkb opened #107 "Absolute path with parent false results in base directory also being uploaded"
### TL;DR
Absolute path with parent false results in base directory being uploaded

**Expected behavior**
With a dir structure like `nested/in/here/hello.txt` and parent false, only hello.txt should be uploaded to bucket root

**Observed behavior**
`here/hello.txt` is uploaded

### Reproduction

**Action YAML**

[code]

**Repository**

**Additional information**

[2021-08-18 02:24] bharathkkb commented on #11
@gonz01d thanks for the logs, I was able to repro the issue with an absolute path. Tracking a fix for that in https://github.com/google-github-actions/upload-cloud-storage/issues/107.  I think a quick workaround is to just use relative path from checked out directory, in your case
[code]

[2021-08-18 02:24] #11 closed

[2021-08-18 02:42] bharathkkb commented on #13
Feel free to reopen if still an issue.

[2021-08-18 02:42] #13 closed

[2021-08-18 02:59] bharathkkb commented on #24
@levonet feel free to reopen if still an issue

[2021-08-18 02:59] #24 closed

[2021-08-18 03:06] bharathkkb commented on #23
Hi @mrskug @jvelezos
Hopefully the new behavior is more explicit. To preserve the previous behavior you can do
[code]
as [documented here](https://github.com/google-github-actions/upload-cloud-storage#:~:text=name/file2.txt-,Optionally%2C%20you%20can%20also%20specify%20a%20prefix%20in%20destination,-.). Feel free to reopen if you have any issues.

[2021-08-18 03:06] #23 closed

[2021-08-18 03:08] #20 closed

[2021-08-18 03:09] bharathkkb commented on #22
fixed via #42

[2021-08-18 03:09] #22 closed

[2021-08-18 03:13] bharathkkb commented on #30
Hi @AaronMT does the workaround provided by @jakub-bacic (thanks!) work for you or were you looking for something else like a signed url?

[2021-08-18 18:40] AaronMT commented on #30
I haven't had a chance to try it yet, but that looks like what I was looking for albeit as a workaround.

[2021-09-14 15:17] levonet commented on #24
For history https://github.com/google-github-actions/upload-cloud-storage/pull/33

[2021-09-19 16:34] danburonline commented on #63
Any updates on this?

[2021-10-13 04:59] bharathkkb commented on #23
Hi @voycey
Can you open a new issue with a sample config and your dir structure? I can try to repro/debug

[2021-11-22 06:15] mihir-mehta opened #146 "Getting error Error: Action failed with error: Error: The "GitHub Action workflow must specify exactly one of "workload_identity_provider" or "credentials_json"!"
### TL;DR
Even though i am using single credentials, i am getting error stating "Error: Action failed with error: Error: The GitHub Action workflow must specify exactly one of "workload_identity_provider" or "credentials_json"!"
**Expected behavior**
Workflow should work as per my understanding

### Reproduction

**Action YAML**

[code]

Thank you

[2021-11-22 15:08] sethvargo commented on #146
Duplicate of https://github.com/google-github-actions/auth/issues/52. That error comes from the `auth` actions, so let's centralize discussion there.

[2021-11-22 15:08] #146 closed

[2021-12-10 22:21] iChip opened #151 "Cache-Control header not applied"
### TL;DR

Unable to apply cache-control header
**Expected behavior**

Uploaded file in GCS contains expected metadata

**Observed behavior**

Uploaded file does not have cache-control set. In my action, I see:

### Reproduction

**Action YAML**

[code]

**Additional information**

[2021-12-10 23:32] iChip commented on #151
Ah i just noticed https://github.com/google-github-actions/upload-cloud-storage/pull/101/files

PR has been in place since August. What's prevent that from being released?

[2021-12-11 05:22] bharathkkb commented on #151
@iChip this is released!

[2021-12-11 05:22] #151 closed

[2021-12-20 13:47] arenoir opened #164 "v0 tag does not exist."
FYI,

I am getting the following error when trying to use this action following the example in the readme.

[code]

It looks like github actions doesn't use semantic versioning and will not resolve v0 to the latest v0.4.2 tag.   I am guessing a v0 tag needs to be created and updated whenever a new version is released.

Perhaps a `latest` branch could be used instead?

Thanks.

[2021-12-20 14:50] sethvargo commented on #164
Yea, we have automation to do this, but it's not fully rolled out yet. I just tagged `v0` manually.

Refs https://github.com/google-github-actions/upload-cloud-storage/pull/159

[2021-12-20 14:50] #164 closed

[2022-01-03 19:29] iChip opened #178 "Exception uploading static assets to GCS"
### TL;DR

**Expected behavior**

Successful upload.
**Observed behavior**

Exception and failed action.

[code]

### Reproduction

**Action YAML**

[code]

**Repository**

**Additional information**

[2022-01-03 20:05] sethvargo commented on #178
Hi @iChip

Thank you for opening an issue. Is that your complete GitHub Action YAML? Errors from upload-cloud-storage should be prefixed with "google-github-actions/upload-cloud-storage failed with: ...". A quick Google search shows that error is related to .NET. Our Action is written in Node.js, so I don't think it's applicable. Are there more logs available? You can get the full raw log output b

[2022-01-03 20:18] iChip commented on #178
As requested, here are the logs for this step:

[code]

Please note that we do not use ASP, we're building a static website and then uploading some assets using this action.

[2022-01-03 20:33] sethvargo commented on #178
Hi @iChip

Thank you for that information. That error message is really confusing, because we _also_ don't use .NET. However, I know the GitHub Actions runner is written in .NET. I wonder if we're hitting some kind of concurrency limit? Could you try setting the `concurrency` input to a lower value on upload-cloud-storage, maybe 10?

[2022-01-06 17:36] sethvargo commented on #178
Hi @iChip

Are you able to share your _complete_ GitHub Actions workflow file?

[2022-01-06 20:51] sethvargo commented on #178
Hi @iChip

I tried to reproduce the issue in https://github.com/sethvargo/threaded-actions-repro/runs/4731916816?check_suite_focus=true, and I'm unable to get the same result.

[2022-01-07 15:49] blackout1208 opened #179 "How to use the folder/files created in previous step"
I'm looking to upload all static content built-in in one step and upload it into a bucket on the following step. As I'm doing, it doesn't find my content.

Any guidance on how I can make it happen?

[code]

[2022-01-17 06:22] markwatson commented on #63
I would love to see this!

However, you can use a workaround of running `gsutil rsync` instead of using this action. You will need to authorize as you currently do (a service account [is required](https://github.com/google-github-actions/setup-gcloud#workload-identity-federation-preferred) as of writing this - there's a warning in that readme). Then you [setup gcloud](https://github.com/google-git

[2022-01-30 04:49] legion-11 opened #190 "action ignores working-directory default"
### Question
When you specify defaults: working-directory, action ignores it and runs from the root directory. Is it intended behavior?

My YAML file:

[code]
Since I specified working-directory: ./app why does the SOURCE_DIR still have to be app/build?

[2022-01-30 04:53] #190 closed

[2022-02-09 20:40] #102 closed

[2022-02-15 12:06] taranovichevich opened #212 ""credentials" input has been deprecated - is it true?"
### Question

How is this action supposed to work without `credentials` if a client that uploads files/folders is still using them?
https://github.com/google-github-actions/upload-cloud-storage/blob/main/src/main.ts#L63

[2022-02-15 14:13] sethvargo commented on #212
We've separated "authentication to google cloud" into its own step:

[code]

There are some more complete examples in the readme https://github.com/google-github-actions/upload-cloud-storage#for-uploading-a-file.

Let me know if you have other questions.

[2022-02-15 15:09] sethvargo commented on #212
Or are you asking specifically about:

https://github.com/google-github-actions/upload-cloud-storage/blob/b5dd2b4bed766f174d8238b2269ff3ca8a50a0bb/src/main.ts#L63

When `credentials` is undefined, the library falls back to Application Default Credentials. That means it will resolve the credentials exported by the auth step.

Once we actually remove the `credentials` input from this action, that li

[2022-02-15 15:09] #212 closed

[2022-02-23 10:44] RuiGamitoFRVR commented on #30
Was also looking for something like this.
The workaround works for me, particularly because I'm uploading a single file - otherwise it would involve iterating through the CSV list of files returned by `${{ steps.upload-file.outputs.uploaded }}`.
Also, might be worth noting that the pipe to `sed 's|gs://||'` doesn't seem to be relevant anymore as the prefix is no longer returned.

[2022-02-27 19:55] pdylanross opened #215 "Following the guide here to upload a static site can result in leaking credentials"
### TL;DR
When using this action to upload site content to a bucket, if the site content lives at the root of the repository, then this action will also upload the gcloud credentials file.

**Expected behavior**
Not uploading credential files.

**Observed behavior**
Job output:
[code]

### Reproduction

**Action YAML**
[code]
**Additional information**
The repo isn't public, but it's more or less

[2022-02-27 20:05] pdylanross commented on #215
For anyone else bumping into this, a quick solution is to checkout the code into a child path in the workspace and then upload from there:

[code]

[2022-02-28 13:59] sethvargo commented on #215
Hi @pdylanross

Please see the instructions in the [`auth` troubleshooting guide for bundled credentials](https://github.com/google-github-actions/auth/blob/main/docs/TROUBLESHOOTING.md#dirty-git-or-bundled-credentials).

@bharathkkb I thought we used to process the gcloudignore/gitignore, but I can't seem to find where we do that in the code.

[2022-03-01 16:44] sethvargo commented on #215
Agreed - let's start with skipping `gha-creds-*`.

[2022-03-08 15:22] sethvargo opened #224 "Update to use Node 16"
### TL;DR

Node 12 is deprecated

### Design

- [x] Cut a release with current features with node12 support
- [x] Update action.yml to `uses: 'node16'`
- [x] Update all tests to use 16 in the matrix
- [x] Update `actions/checkout@v2` -> `actions/checkout@v3` everywhere
- [x] Update README to note node 16 requirement for self-hosted runners ([example](https://github.com/google-github-actions/auth/p

[2022-03-09 00:16] #224 closed

[2022-03-16 14:19] AaronMT opened #231 "Intermittent failed with [object Object] error on upload"
### TL;DR

Not sure why, but I ran into a `Error: google-github-actions/upload-cloud-storage failed with [object Object]` on an upload step. I have not seen this before and I've been using this action for several months.

Run and workflow links below. Nothing complicated, I am uploading a single `JSON` file

[1] Run: https://github.com/mozilla-mobile/mobile-test-health/runs/5571311372?check_suite_

[2022-03-16 15:52] sethvargo commented on #231
Hi @AaronMT

Thank you for opening an issue. Unfortunately the links you provided are both 404 (maybe private repos)?

That message should definitely be a string, not `[Object object]`. Can you share the [debug logs](https://docs.github.com/en/actions/monitoring-and-troubleshooting-workflows/enabling-debug-logging).

[2022-03-17 20:05] verbanicm commented on #231
@AaronMT I updated the error messaging and pushed a new version of the `upload-cloud-storage` action. Can you try again? v0 should use the latest.

[2022-03-18 15:33] #215 closed

[2022-03-21 03:59] AaronMT commented on #231
I'll re-open/comment if I see it again.

[2022-03-21 03:59] #231 closed

[2022-04-04 08:23] sirdarckcat opened #241 "Error: failed with error code [object Object]"
### TL;DR

Action fails intermittently with obscure error (`Error: google-github-actions/upload-cloud-storage failed with error code [object Object]`), recently more often than before.

### Expected behavior

It shouldn't fail

### Observed behavior

Upload just fails with `Error: google-github-actions/upload-cloud-storage failed with error code [object Object]`

### Action YAML

[code]

### Log o

[2022-04-04 08:26] sirdarckcat commented on #241
Here's the other affected workflow file, same error:

[code]

[2022-04-04 18:59] sethvargo commented on #241
Hey @sirdarckcat thanks for opening an issue. I thought we [fixed this in our upstream library](https://github.com/google-github-actions/actions-utils/pull/12), but perhaps we didn't upgrade it here.

@verbanicm do you know if we pulled the actions-utils updates into this repo and cut a release?

[2022-04-05 20:50] ZKL2337 opened #245 "仓促"
### TL;DR

`[Z](@ak2337) `{无限大}仓库储存数据公用### ** bugging**

### Expected behavior

URL编码(UTF-8):cang+ku+%7Bchu+cun+cang+chu+ku+fang+8000ping+mi+huan+yang+di+ping+ceng+gao+10mi+600ping+mi+600ping+mi+3000ping+mi+24xiao+shi+quan+tian+hou+tong+feng+liang+hao+nei+bu+gan+jing+zheng+jie+cang+ku+shi+he+chu+cun+ren+he+shu+ju+tuo+guan+
URL编码(GBK):cang+ku+%7Bchu+cun+cang+chu+ku+fang+8000ping+mi+huan+yang+di+pin

[2022-04-05 20:51] ZKL2337 commented on #245
[飞机联系](@ak2337)

[2022-04-05 23:47] #245 closed

[2022-04-06 19:25] selfagency commented on #241
@sethvargo This is the same error I'm having. It seems my auth issues have self-resolved but this one is persisting.

[2022-04-07 02:30] andersonba commented on #241
I'm also facing the same error

[2022-04-07 14:40] sethvargo commented on #241
Hi folks - I just cut a new version (and updated v0) which should print the correct error message. Let me know if you're still seeing [Object object].

[2022-04-07 15:39] AF250329 opened #248 "Suddenly began to fail with the error: path should be a `path.relative()`d string"
### TL;DR

I've been using 'upload-cloud-storage' in multiple projects for a while now, and everything was fine until recently, when it began to fail with the following error:

[code]

Here is relevant parts in my Github workflow:

[code]

What I can do about it ?

### Expected behavior

File should be uploaded to Google Storage even if provided absolute path and not just relative

### Observed be

[2022-04-07 17:59] AF250329 commented on #248
Mmmmm... I must be missed the party but now I understand that Github removed Google Cloud SDK completely from Windows-2022 runner (https://github.com/actions/virtual-environments/commit/a2d76d2a0e52f14897950ac014385ac71a5c9290#diff-0f0deef55edf9ac41fe9db1cd386e44aac4536569e49e147e8fdc52457ca8dedL92).

I don't know who is throwing this exception but I understand now that I need to install Google Cl

[2022-04-07 19:15] sethvargo commented on #248
Hi @AF250329

Sorry about that. Could you try pinning `upload-cloud-storage@v0.8.0` and see if the issue persists? If it goes away, that means something in our latest release changed accidentially.

[2022-04-07 21:56] nathanklick commented on #248
@sethvargo We are also seeing the same issue with our pipelines running on Ubuntu Linux both using self hosted runners and Github hosted runners. It does appear that the `v0.9.0` may be the culprit; however, downgrading to `v0.8.0` we see the error in #241 manifest instead.

I am testing the `v0.7.0` tag now and will update you as soon as the pipeline fails or finishes.

[2022-04-08 06:50] nathanklick commented on #248
@sethvargo The `v0.7.0` tag works just fine. It is possible that the failure that manifested in `v0.8.0` as described in #241 and this issue are related or the same issue.

[2022-04-08 10:04] aznashwan commented on #248
Can confirm we've just had this happen when using `@v0` in the [containerd CI here](https://github.com/containerd/containerd/runs/5878461244?check_suite_focus=true#step:26:32).

We've neither changed the GitHub runner (`ubuntu-latest`), nor the paths we upload to.

Testing with `@0.8.0` soon and will let you know,  but it already looks like one of the dependencies which recently got updated in #24

[2022-04-08 13:47] sethvargo commented on #248
@nathanklick or @aznashwan could either of you share a complete action.yml and local file layout for what you're uploading? I'm highly suspicious of https://github.com/google-github-actions/upload-cloud-storage/commit/0715ae527180418bb29f3055035821805f8b3344, since that's where the error is coming from. I'd like to try and create a test and fix for this.

[2022-04-08 14:13] aznashwan commented on #248
@sethvargo absolutely, on our end we have [this workflow](https://github.com/containerd/containerd/blob/main/.github/workflows/windows-periodic.yml) which just use `upload-cloud-storage` to upload a handful of text files, all referenced via absolute path, which you can see listed in [the Upload* tasks in this successful run](https://github.com/aznashwan/containerd/runs/5883582618?check_suite_focus

[2022-04-08 15:35] sethvargo opened #250 "Re-enable load test"
### TL;DR

The current load test can only run 3x in a short period and then we hit quota limits. This makes iterative testing and debugging [extremely painful](https://github.com/google-github-actions/upload-cloud-storage/pull/249#discussion_r846243797), so it's disabled.

### Detailed design

We need to re-enable the load test. Ideas:

- Move to a separate action that are allowed to fail
- Only r

[2022-04-08 19:22] sethvargo commented on #248
@aznashwan @nathanklick could you try:

[code]

and report back please?

[2022-04-08 19:41] nathanklick commented on #248
Thanks @sethvargo, will kick off a test right now.

[2022-04-08 20:47] nathanklick commented on #248
@sethvargo This build also fails in a similar fashion as the `v0.9.0` tag. The `v0.7.0` tag works with no issues.  The `v0.8.0` tag fails half-way through the upload; whereas the `v0.9.0` tag and the new version you gave above fail before uploading any files.

My folder structure in this job is simply a single folder that contains a bunch of tiny JUnit report XML files under the following path: `~

[2022-04-09 01:27] sethvargo commented on #248
So the junit report is _outside_ of the workspace? Sorry, I'm having trouble following and reproducing this because there's many layers or indirection.

[2022-04-09 01:55] nathanklick commented on #248
@sethvargo Yes, it is in the home directory of the agent account. (`/home/runner/`) I was hesitant to give you the workflow because it is fairly complex.

Basically we copy the junit reports from a complex multi-module build into a single flat folder located in the home directory and then pass that path as an absolute path to the upload action.

Does that make sense?

[2022-04-09 02:06] sethvargo commented on #248
Yea, so I think what's going on here is that the "ignore" logic requires a path that is relative to the working directory, and the working directory defaults to the workspace.

[2022-04-09 02:12] nathanklick commented on #248
@sethvargo Is the ignore logic being applied even though I am not using it? Is there anyway to disable it on a case by case basis?

[2022-04-09 02:24] sethvargo commented on #248
You can disable the parsing of the gcloudignore, but the ignore logic is still applied (just with an empty set). For now, pinning to 0.7.0 is probably safest until I can unwrangle some of the coupling.

[2022-04-09 02:30] nathanklick commented on #248
@sethvargo Thanks, I will keep pinning to the `v0.7.0` tag. Let me know if you need me to test any future versions.

[2022-04-09 02:40] sethvargo commented on #248
Thanks. /cc @bharathkkb to see if you have any ideas

[2022-04-09 10:45] aznashwan commented on #248
@sethvargo unfortunately [pinning it to the suggested version](https://github.com/aznashwan/containerd/actions/runs/2140235086/workflow#L238-L246) lead to [the same issue](https://github.com/aznashwan/containerd/runs/5953864386?check_suite_focus=true#step:27:34), but this time not in the first `UploadJobReport` task (which uploads a single text file), but in the immediately following `UploadLogsDi

[2022-04-09 14:27] sethvargo commented on #248
@aznashwan can you pin to 0.7.0 for now? I'll try to work on a fix next week.

[2022-04-09 15:50] aznashwan commented on #248
@sethvargo no problem whatsoever, we’ve already pinned it to ‘0.8.0’ so there’s no urgency from our end.

[2022-04-12 13:07] selfagency commented on #241
@sethvargo So, I don't get `[Object object]` anymore, I get this:

[code]

[2022-04-12 14:57] sethvargo commented on #241
Hi @selfagency

Do you see `google-github-actions/upload-cloud-storage failed with` before that?

[2022-04-12 23:51] selfagency commented on #241
@sethvargo Nope, it just shows filenames and then spits that out

[2022-04-13 01:59] sethvargo commented on #241
Can you show the full log output or link to the build?

[2022-04-13 07:49] amansingh14 opened #252 "Getting error while uploading path.relative()"
### TL;DR

`Error: google-github-actions/upload-cloud-storage failed with path should be a `path.relative()`d string,`

I tried with relative as well as absolute path both the paths are not working.

[code]

[code]

### Expected behavior

_No response_

### Observed behavior

_No response_

### Action YAML

[code]

[code]
[code]

### Additional information

_No response_

[2022-04-19 18:48] sethvargo opened #254 "Clean up temporary files for resumable uploads"
### TL;DR

For each file, we create a resumable metadata file on disk for the client library. However, we never clean up that file. On managed runners, it's fine because the filesystem is destroyed. But for self-hosted runners, we leak these files over time.

### High-level design

- Create all files in subdirectory dedicated to the workflow number
- Create `post` step that deletes the directory w

[2022-04-26 22:47] #248 closed

[2022-04-26 22:47] #241 closed

[2022-04-27 09:11] spathon opened #258 "After refactor in version v0.10.0 mime types are often wrong"
### TL;DR

In version `v0.10.0` all files our files get the mime type `image/svg+xml` in the GCP bucket.

### Expected behavior

Previous version got the correct mime type based on file.

### Observed behavior

All files (.js, .css etc) all get `image/svg+xml` as mime typ in GCP

### Action YAML

[code]

### Log output

_No response_

### Additional information

_No response_

[2022-04-27 09:22] karl-run commented on #258
We are also seeing this. :hot_face:

[2022-04-27 09:44] cwolf24 commented on #258
I have the same for my allure report, where the index.html is now an `application/json` and therefor not viewable in any browser. 😞

[2022-04-27 09:47] mvakula commented on #258
Interestingly pointing to specific version like `google-github-actions/upload-cloud-storage@v0.8.0` doesn't fix the issue.

[2022-04-27 09:48] JordanDDisch commented on #258
same

[2022-04-27 09:48] spathon commented on #258
For us `google-github-actions/upload-cloud-storage@v0.9.0` worked

[2022-04-27 10:20] mvakula commented on #258
Sorry, for confusion. Locking to specific version like v0.8.0 or v0.9.0 works for us too. There was another unrelated issue.

Btw, looks like locking down CI dependency versions is a good practice 👍

[2022-04-27 10:39] karl-run commented on #258
Maybe espeically for stuff that is on v0 :weary: Oh well, we learn by breaking production.

[2022-04-27 12:42] sileht commented on #258
Same here.

[2022-04-27 13:47] OmerGery opened #259 "v0.10.0 - uploading a file uploads it with the containing directory"
### TL;DR

the upload logic has changed on v0.10.0 - the uploaded file is a folder containing the desired file instead of only the actual file.

### Expected behavior

When uploading
path: './A/B/myfile.apk'
i expected myfile.apk only to be uploaded, this was the way it worked until v0.9.0.

### Observed behavior

for some reason the logic has changed on v0.10.0 to uploading 'B/myfile.apk' . this

[2022-04-27 14:21] sethvargo commented on #259
Hi @OmerGery

Thank you for opening an issue. It would be helpful if you had the debug log output we could look at between the two runs. The new behavior you described is exactly how the behavior is documented. I think you would want to have [set [`parent: false`](https://github.com/google-github-actions/upload-cloud-storage#upload-to-bucket-root) to upload to the root.

[2022-04-27 14:40] sethvargo commented on #258
Hey folks - thanks for bringing this to our attention. I'm looking into this now, but in the meantime, you can pin to `google-github-actions/upload-cloud-storage@0.9.0`.

I will admit that I'm a little confused because I tested that mimeTypes were properly inferred in the refactor for `0.10.0`, and I just pushed up some very specific `Content-Type` tests which are passing.

I'm going to try and re

[2022-04-27 18:29] sgd2z commented on #258
Same here everything got deployed as application/node for us and broke web pages.

[2022-04-27 18:58] sethvargo commented on #259
Hi @OmerGery

We didn't intend for this to be a breaking change, so I'd like to better understand the behavior prior to 0.10.

[2022-04-27 20:33] sethvargo commented on #258
Hey folks - we think we identified the root cause and pushed up a fix in #262. Once those tests pass, we'll release v0.10.1.

[2022-04-27 23:13] #178 closed

[2022-04-27 23:13] sethvargo commented on #178
Closing due to lack of response.

[2022-04-27 23:14] sethvargo commented on #258
Hey folks - I've just released `v0.10.1` (and the tag for `v0` now also points to this new version). Please give it a try and report back. The root cause here is actually a [bug in a downstream client library](https://github.com/googleapis/nodejs-storage/issues/1891) where an object property was being copied onto future uploads.

[2022-04-28 00:25] alokedesai commented on #259
@sethvargo This is also broken for us (warpdotdev: https://warp.dev). The semantics of this action seem to have changed (we also can confirm that running at versions before 0.10 result in the _correct_ behavior), which seems to imply it was a breaking change.

Would it be possible to rollback or fix forward with the correct behavior? Happy to send you the debug log output if you send me your ldap

[2022-04-28 11:31] ben-marengo-msmg commented on #259
also surprised by backward incompatibility. heres our log output of the action.
action is very simple, no changing default working directory or anything

![Screenshot 2022-04-28 at 12 21 23](https://user-images.githubusercontent.com/85871954/165742535-7e8d9ff7-2e19-4eed-bab0-f9c5c8a5554c.png)
![Screenshot 2022-04-28 at 12 21 32](https://user-images.githubusercontent.com/85871954/165742541-7b3fd1dc

[2022-04-28 13:40] sethvargo commented on #259
Hi @alokedesai - thank you for the info. You can pin to `google-github-actions/upload-cloud-storage@v0.9.0` while we investigate.

[2022-04-29 01:30] #259 closed

[2022-04-29 09:24] spathon commented on #258
Thanks for the quick fix, it works :)

[2022-04-29 09:24] #258 closed, assigned to nobody

[2022-05-02 15:36] sethvargo opened #273 "Switch away from globby"
### TL;DR

The latest version of globby isn't compatible because it requires us to switch to modules which is a fairly large undertaking. We also aren't using all the features of globby, so it might be better just to switch to https://github.com/mrmlnc/fast-glob directly, which is what globby uses under the hood.

### Expected behavior

_No response_

### Observed behavior

_No response_

### Acti

[2022-06-01 21:01] iChip opened #279 "Support brotli compression for uploaded assets"
### TL;DR

Support brotli compression as well as gzip for asset uploads

From what I've read, this can make a noticeable difference for web performance:

![Screen Shot 2022-06-01 at 2 00 19 PM](https://user-images.githubusercontent.com/4723782/171500705-1cce0554-6fce-4afb-8169-dd95387e158d.png)

### Detailed design

_No response_

### Additional information

_No response_

[2022-06-01 21:09] iChip commented on #279
Ah if that's the case then let's close the issue >.<

[2022-06-02 20:26] AlexFragotsis commented on #63
any updates on this?

[2022-06-16 06:44] patrickwyler commented on #63
Just for that reason I created my own action: https://github.com/patrickwyler/gcs-bucket-sync-action

[2022-06-30 02:43] Jplus2 commented on #63
any update on this?

[2022-07-22 14:48] haggman opened #286 "Clean up Readme re: file paths"
### TL;DR

The file paths used in the example don't work for me as written.

### Detailed design

[code]

To get it to actually work, I did:

[code]

Ditching the initial / on the path, and removing "file" from the destination. With those changes it grabbed the file correctly from the git cloned files, and it the file ended up in the bucket-name/folder location.
[code]

[2022-08-29 04:49] liaocyintl opened #290 "connect ETIMEDOUT"
### TL;DR

Sometimes My workflow often occurs with a `reason: connect ETIMEDOUT` ERROR as follows.
Is there anything wrong with my config?

My setting is as follows:
[code]

### Expected behavior

_No response_

### Observed behavior

_No response_

### Action YAML

[code]

### Log output

[code]

### Additional information

_No response_

[2022-08-29 13:48] sethvargo commented on #290
Please share your _complete_ `action.yml` file. Are you running on self-hosted runners? What is the operating system? How large is the file you're uploading? What is the output of the [debug logging](https://docs.github.com/en/actions/monitoring-and-troubleshooting-workflows/enabling-debug-logging#enabling-step-debug-logging)?

[2022-10-13 16:20] AngellusMortis opened #292 "set-output is deprecated"
### TL;DR

Running the `google-github-actions/upload-cloud-storage@v0` action produces the following warning:

[code]

Link from message: https://github.blog/changelog/2022-10-11-github-actions-deprecating-save-state-and-set-output-commands/

### Expected behavior

Warning should not occur.

### Observed behavior

_No response_

### Action YAML

[code]

### Log output

_No response_

### Additiona

[2022-10-17 22:55] jsw-epilog commented on #290
I am experiencing the same issue while uploading a directory.

Here is the action giving me issues. You can see the call to the upload-cloud-storage action at the very end. The directory being uploaded is on the order of a few GB ~2-5 and contains a large (~2000) small files within it. The action does not fail on every run, just on every few so I am unsure how to reproduce.

### Action .yml
[code]

[2022-10-25 18:55] Byeong-jun-Kim opened #298 "Looks like 0.10.4 hasn't been released."
### TL;DR

https://github.com/google-github-actions/auth/issues/235
As I mentioned here, it looks like 0.10.4 hasn't been released.

https://github.com/marketplace/actions/cloud-storage-uploader
<img width="1032" alt="image" src="https://user-images.githubusercontent.com/75416321/197858202-6762e5a6-f394-433c-9e6d-76fb4565596d.png">

### Expected behavior

_No response_

### Observed behavior

_No

[2022-10-27 07:00] Byeong-jun-Kim commented on #298
@sethvargo Can you check this?

[2022-10-27 15:43] sethvargo commented on #298
@Byeong-jun-Kim you can use other tag versions from https://github.com/google-github-actions/upload-cloud-storage/releases - they don't have to appear in that dropdown.

[2022-10-27 16:47] Byeong-jun-Kim commented on #298
Okay thank you. Actually there is new version in the dropdown now

[2022-10-27 16:47] #298 closed

[2022-11-15 17:45] andreas-fahrecker opened #299 "Cache based on Checksum"
### TL;DR

Upload files only when the checksum is different from the repo file to the CloudStorage file.

### Detailed design

If a file already exists in the CloudStorage Bucket with the same name as a file to be uploaded by the Action,
then the file should be downloaded first. Then the checksums of the files with identical names should be compared.
And finally the file defined to be uploaded to

[2022-11-15 17:54] sethvargo commented on #299
Hi @andreas-fahrecker

What is the use case for this? It sounds like you might want to use `gsutil rsync` instead: https://cloud.google.com/storage/docs/gsutil/commands/rsync

[2022-11-15 18:11] andreas-fahrecker commented on #299
Thanks for the fast response @sethvargo

Seems like that would do the job, is there a Github Action for that?

[2022-11-15 18:46] sethvargo commented on #299
You can use `setup-gcloud` to install `gsutil` and then just run the gsutil command.

[2022-11-15 18:46] #299 closed

[2022-11-20 02:34] bharathkkb commented on #292
This should be fixed via https://github.com/google-github-actions/upload-cloud-storage/pull/293

[2022-11-20 02:34] #292 closed

[2022-11-25 19:54] MohdRashid01 opened #302 "How to Copy Files/Folder from Github Action to Google Cloud Storage (Bucket)"
Hi All,

Please have a look at below ticket

https://github.com/orgs/community/discussions/40102

[2022-11-25 19:56] sethvargo commented on #302
Hi @MohdRashid01

Please submit an issue using our bug report issue template: https://github.com/google-github-actions/upload-cloud-storage/issues/new?assignees=&labels=bug&template=bug.yaml. This will collect the information we need to assist.

[2022-11-25 19:56] #302 closed

[2022-11-26 18:21] MohdRashid01 opened #303 "How to Copy Files/Folder from Github Action to Google Cloud Storage (Bucket)"
### TL;DR

I want to push some files or folder from github action to GCP bucket

I have create a new bucket and give permission of owner

BUCKET NAME :- github_action

FOLDER NAME(INSIDE BUCKET I CREATED) :- testing

SOURCE FOLDER-NAME :- ./results.sarif

DEST FOLDER-NAME :- gcp bucket

Whatever above yaml file plse tell me which are i need to kept and which are not to kept(unnecessary content i w

[2022-11-27 08:43] #303 closed